body {
  margin: 0;
}

.nav {
  display: flex;
}

.nav-img-container {
  width: 40%;
}

.nav-img {
  width: 70%;
  height: "auto";
}

a {
  text-decoration: none;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  font-family: 'Rockwell';
  font-size: 26px;
  font-weight: bold;
  color: #47503B;
}

.kasama-button {
  font-family: 'Rockwell';
  background-color: #47503B;
  color: white;
  border: 3px solid #47503B;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kasama-button:hover {
  font-family: 'Rockwell';
  background-color: white;
  color: #47503B;
  border: 3px solid #47503B;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  font-size: 26px;
  width: 233px;
  height: 50px;
}

.show-nav {
  display: none;
}

.hamburger-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hamburger-icon {
  display: inline-block;
  cursor: pointer;
  color: #47503B;
  padding-right: 3%;
}

@media screen and (max-width: 1000px) {
  .nav-item {
    font-size: 2vw;
  }
}

@media screen and (min-width: 850px) {
  .nav-img {
    width: 50%;
  }

  .show-nav {
    display: flex;
  }

  .hamburger-icon {
    display: none;
  }

  .hamburger-container {
    width: 0%;
  }
}

.title {
  /* Looks great on my laptop for now but this will need to be refactored in future */
  rotate: -90deg;
  font-size: 8vw;
  position: absolute;
  margin: 18vw -12vw;
  color: #47503B;
  text-shadow: black 0 1px;
}

.title-container {
  width: 100%;
  height: 100%;
}

.hours-row {
  display: flex;
  justify-content: end;
  width: 100%;
  height: auto;
}

.hours-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
  border: 4px solid #47503B;
}

h2 {
  font-family: 'Rockwell';
  font-size: 4vw;
  font-weight: bold;
  color: #47503B;
}

p {
  font-family: 'Rockwell';
  color: #47503B;
}

.hours-text {
  text-align: center;
  font-size: 3vw;
  line-height: 0%;
}

h1 {
  font-family: 'Rockwell';
  color: #47503B;
  text-align: center;
  font-size: 60px;
  margin-bottom: 1px;
}

.dishes-line {
  width: 245px;
  height: 3px;
  background-color: #47503B;
}

.dishes-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.display-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media (max-width: 975px) {
  .display-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .display-grid {
    grid-template-columns: 1fr;
  }
}

.card {
  border: 2px solid #47503B;
  width: 85%;
  height: auto;
  margin-top: 20px;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 242px; */
  margin: 0;
}

.card-text-header {
  font-size: 26px;
}

.card-text-body {
  font-size: 24px;
  text-align: center;
}

.about-container {
  background-color: blue;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.info-tag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 25%;
  height: auto;
  border: 3px solid #47503B;
  background-color: white;
  position: absolute;
  margin-right: 45vw;
}

.owner-img {
  /* grid-column: 3 / 5; */
  width: 60%;
  height: auto;
  margin: 3vw 0 0 20vw;
}

/* .info-about-tag {
  grid-column: 1 / -1;
} */

@media (max-width: 650px) {
  .about-container {
    background-color: green;
    /* display: block; */
  }

  .info-tag {
    width: 35%;
  }


}

.info-header {
  font-size: 4vw;
  width: 100%;
}

.info-body {
  font-size: 2vw;
}

.info-line {
  width: 50%;
  height: 3px;
  background-color: #47503B;
}


.grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
}

.about-grid {
  margin-left: 200px;
}

.location-grid {
  align-items: end;
  margin-left: 75px;
}

/* .info-about-tag,
.owner-img {
  grid-row: 1 / 2;
} */

.join-line {
  width: 150px;
  height: 3px;
  background-color: #47503B;
}

.location-button {
  font-size: 30px;
  width: 218px;
  height: 58px;
}

.location-img {
  grid-column: 1 / 5;
  width: 1000px;
  height: 665px;
}

.info-location-tag {
  margin-left: 150px;
  grid-column: 4 / -2;
}

.info-location-tag,
.location-img {
  grid-row: 1 / 2;
}

.footer {
  background-color: #47503B;
  width: 100%;
  margin-top: 100px;
  height: 169px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-row {
  width: 100%;
  flex-direction: row;
  margin-bottom: 5px;
}

.media-icon {
  padding: 5px;
}

.footer-split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 12px;
  color: white;
}